.container{
    display: flex;
    align-items:flex-start;
   

}
.box{
margin-top: 10%;
padding: 10px;
width: 300px;
margin-left: 40px;
text-align: center;
border-radius: 10px;
background-color: rgb(184, 140, 74);
}

.box img{
    border-radius: 10px;
}

.cart{
    border-radius: 5px;
    color: black;
    background:rgb(112, 168, 185);
    padding: 5px 8px 7px 5px;
    font-size: small;
}
.title{
    background-color: burlywood;
    border-radius: 5px;
    height: 40px;
  text-align: center;

 

}

.model{
    font-weight: bold;
    font-size: large;
}

#here{
    text-align: left;
    margin-bottom: 30px;
    margin-left: 20px;
}
#here1{
    text-align: left;
    margin-bottom: 30px;
    margin-left: 20px;
}
#here2{
    text-align: left;
    margin-left: 20px;
}
#store{
    font-size: large;
   float: right;
    border: 2px solid black;
    height:500px;
    width:250px;
    text-align: center;
   
    margin-top: 5%;
    margin-left: 100px;
    border-radius: 10px;
}
button{
    margin-left: 30px;
}
#closebtn{
    margin-left: 100px;
}
